<!DOCTYPE html>


<!--[if IE 8]><html lang="fr" class="no-js ie8"><![endif]-->
<!--[if IE 9]><html lang="fr" class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr" class="no-js"><![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Mon sac à lien</title>

    <!--<link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>-->


    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/foundation.min.css"> <!-- inks css file -->
    <script src="js/main.js"></script>
</head>
<body>

<nav class="toolbar-wrapper top-bar">

        <ul class="title-area">
            <li class="name"><h1><a class="">Sac à lien</a></h1></li>
        </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul >
            <li class="tool search has-form">
                <input id="search" type="text" placeholder="Search..." />
            </li>



            <li class="tool action has-form">
                <a href="" class="button" id="add-link">Add</a>
            </li>
            <li class="divider"></li>
            <li class="right"><a>About</a></li>

        </ul>
        </section>

</nav>
<section class="tool tags ">
    <!-- insert tags template here -->
</section>
<div class="page-wrapper">
    <!-- insert page content here -->
</div>

<div id="info">
</div>

<!-- JS TEMPLATE -->
<script type="text/x-template" id="tags-tool-template">

        <div class="row">
            <div class="small-8">
                <div class="row">
                    <div class="small-3 columns">
                        <label for="tags" class="right inline">Categorie</label>
                    </div>
                    <div class="small-9 columns">
                        <select name="tags" id="tags-filter">
                            <option value=''></option>
                            <% _.each(tags, function(tag) { %>
                            <option value="<%= tag %>"><%= tag %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
        </div>

</script>

<script type="text/x-template" id="link-list-template">
    <ul class="links-list">
        <% _.each(links, function(link) { %>
        <li class="link-item">
            <input type="checkbox" name="select" />
            <span class="label"><%= link.label %></span>
            <span class="tags">
                <% if (link.tags) { _.each(link.tags.split(';'), function(tag) { %>
                    <span class="tag"><%= tag %></span>
                <% }); } %>
            </span>

            <span class="action">
                <a href="" class="edit" data-link-id="<%= link._id %>">edit</a> | <a href="" class="delete" data-link-id="<%= link._id %>">Delete</a>
            </span>
            <span class="link"><a target="_blank" href="<%= link.url %>"><%= link.url %></a></span>
        </li>
        <% }); %>
    </ul>

    <div id="form-placeholder"></div>
</script>

<script type="text/x-template" id="link-form-template">
    <div class="">
    <form id="link-form" class="pure-form">
        <fieldset>
            <% if (link._id) { %>
                <input type="hidden" name="id" value="<%= link._id %>" />
            <% } %>
                <input type="text" id="label" name="label" value="<%= link.label %>" placeholder="Label"/>
                <input type="text" id="url" name="url" value="<%= link.url %>" placeholder="Url"/>
                <input type="text" id="tags" name="tags" value="<%= link.tags %>"  placeholder="Tags"/>

                <input type="submit" value="add" class="pure-button pure-button-primary" />
                <input type="reset" value="cancel" class="pure-button " />

        </fieldset>
    </div>
    </form>
</script>

</body>
</html>