@import "compass/css3/border-radius";

$icone: sprite-map('icone/*.png');

.content {
  position: fixed;

  top: $headerHeight + $headerBorderBottom;
  right: 0;
  bottom: $footerHeight + $footerBorderTop;
  left: 0;

   background: $color3;
}

.link-list {
  padding: 10px;
}

.toolbar {
  padding: 10px;
  background: $color2;
  color: white;

  li {
    display: inline-block;
  }
}

.add-link-form {
  display: block;
  padding: 10px;
  height: auto;

  background: white;
  @include transition(all 0.3s);

  &.height0 {
    height: 0px;
    padding: 0;
    overflow: hidden;
  }
}

.link {
  .link-name {
    display: inline-block;
  }
  .link-url {
    display: inline-block;
    color: $link;
  }

  .link-tags {
    display: block;
    margin-top: 3px;
  }

  .tag {
    font-size: 10px;
    border: 1px solid $color1;
    padding: 2px 3px;
    @include border-radius(3px);

    &:hover {
      color: white;
      border: $color2;
      background: $color1;
    }
  }
}


a.ext {
  &:after {
    content: "";
    $extLink: sprite-file($icone, 'lien-externe');
    background: sprite($icone, 'lien-externe') no-repeat;
    display: inline-block;
    height: image-height($extLink);
    width: image-width($extLink);
    margin-left: 3px;
  }
}

.btn-group {
  .btn {
    margin-right: 0;
    margin-left: 0;
    float: left;
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

.btn-list {
  $btnList: sprite-file($icone, 'btn-list');
  width: image-width($btnList);
  height: image-height($btnList);

  position: relative;

  &:after {
    content: "";
    position: absolute;

    background: sprite($icone, 'btn-list') no-repeat;

    top: 2px;
    right: 8px;
    bottom: 2px;
    left: 8px;
  }
}

.btn-grid {
  $btnGrid: sprite-file($icone, 'btn-grid');
  width: image-width($btnGrid);
  height: image-height($btnGrid);

  position: relative;

  &:after {
    content: "";
    position: absolute;

    background: sprite($icone, 'btn-grid') no-repeat;

    top: 2px;
    right: 8px;
    bottom: 2px;
    left: 8px;
  }
}