$header: sprite-map('header/*.png');
$logoUrl: sprite-file($header, 'sacalien');

.header {
  background: #3e3e3e sprite($header, 'sacalien') no-repeat;
  height: image-height($logoUrl);

  position: static;
  top: 0;
  left: 0;
  right: 0;

  color: white;

  border-bottom: 20px solid #333;

  h1 {
    text-align: left;
    margin-left: image-width($logoUrl) + 20;
    font-size: image-height($logoUrl) / 2;
  }
}
