$header: sprite-map('header/*.png');
$logoUrl: sprite-file($header, 'sacalien');
$headerHeight: image-height($logoUrl);
$headerBorderBottom: 0;

.header {
  background: $color1 sprite($header, 'sacalien') no-repeat;
  height: $headerHeight;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  color: white;

  border-bottom: $headerBorderBottom solid $color2;

  h1 {
    text-align: left;
    margin-left: image-width($logoUrl) + 20;
    font-size: image-height($logoUrl) - 20;
    padding-top: 10px;
  }
}
