$black: #000;
$white: #fff;

$errorBorderColor: #ee5f5b;
$errorGradientStart: $errorBorderColor;
$errorGradientEnd: #c43c35;
$error: #e46548;
$errorColor: #B94A48;

$darkBlue: #004063;
$sidebarColor: #C7D2D8;
$sidebarToggleColor: #d5dee2;

$gray: #b9b9b9;

$mainTxt: #515151;

$lighGray: #cccccc;