$borderRadius: 4px;

@import "compass/reset";
@import "color";
@import "font";
@import "typo";
@import "mixin";
@import "form";
@import "global";
@import "modal";

.page-wrapper, .toolbar, #info {
  padding: 10px;
}

.main-title {
    margin: 20px;
}

#link-form {
    margin: 0;
}

.links-list {
    margin: 10px;
}

.label {
    @include font(bold, 15px);
    margin-right: 10px;
}

.link {
    display: inline-block;
    @include font(normal, 12px);
    width: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;

    &:hover {
        width: auto;
        background: white;
    }
}

.tags {
    .tag {
        padding: 2px 3px;
        border: 1px solid $gray;
        @extend .rounded-all;
    }
}

.action {
    margin-left: 20px;
}

.link-item {
  padding-left: 10px;
  border-left: 5px solid transparent;
  margin-bottom: 5px;

  &.selected {
    border-left: 5px solid $darkBlue;
    background: lighten($lighGray, 15%);
  }
}
/* --- Toolbar --- */
.toolbar-wrapper {
  border: 1px solid $gray;
}
.toolbar {
  height: 27px;
  display: table;

  .tool {
    display: table-cell;
    padding: 0 10px;
  }
}